<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings page</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/bookings.css">
</head>

<body>
    <a id="back-home" href="/"><i class="ri-arrow-left-s-line"></i><i class="ri-home-4-line"></i> <span>go back</span>
    </a>

    <!-- hotel wala part -->
    <div id="hotel-image">
        <img src="https://e0.pxfuel.com/wallpapers/701/33/desktop-wallpaper-baburao-ganpatrao-apte-illustration-by-niren-vanik-hera-pheri-fan-art-indian-movies-thumbnail.jpg"
            alt="hotel image">
    </div>
    <div id="hotel-info">
        <div id="hotel-name"> Babu rao's cafe</div>
        <div id="hotel-desc">Acha khana sirf ₹150 rupiya main dega.</div>
        <div id="star-rating">
            <i class="ri-star-s-fill checked"></i>
            <i class="ri-star-s-fill checked"></i>
            <i class="ri-star-s-fill checked"></i>
            <i class="ri-star-s-fill checked"></i>
            <i class="ri-star-half-s-fill checked"></i>
        </div>
    </div>

    <!-- services wala part -->

    <div id="available-services-heading"> Available services <i class="ri-stack-fill"></i> </div>
    <div id="services-btn">
        <div class="btn book-table"> <span>Book a table</span> </div>
        <div class="btn book-stay"> <span>book your stay</span> </div>
        <div class="btn food-order"><span>order food</span> </div>
    </div>

    <!-- forms -->

    <!-- table booking form -->
    <div id="table-booking-form">
        <button id="close-btn"><i class="ri-close-circle-fill"></i></button>
        <div id="image-div">
            <img src="" alt="">
        </div>
        <div id="deets-for-table-booking">
            <h2>kindly submit details for reservation</h2>
        </div>
    </div>

</body>

</html>