<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/footer.css">
</head>
<body>
    <div id="footer" id="foot" class="scrolling">
        <div id="footer-logo"></div>
     <h3 id="footer-heading">THANKS FOR VISITING !!</h3>  
     <div id="feedback-section">
        <h3>Give Us Your Feedback </h3>
        <input type="text" name="feedback">
        <button type="submit">Send</button>
     </div> 
     <h4 id="team-name">Team Tragic Bytes !!</h4>
     <div id="teamdets">
        <div class="member">
            <img src="../images/imgs/footerimages/fuugi2.jpg" alt="">
            
        </div>
        <div class="member">
            <img src="../images/imgs/footerimages/poplu.jpg" alt="">
        </div>
        <div class="member">
            <img src="../images/imgs/footerimages/harshuu.jpg" alt="">
        </div>
          </div>

          <div id="social-media">
            <div class="icons">
                <i class="ri-instagram-line"></i>
            </div>
            <div class="icons">
                <i class="ri-facebook-line"></i>
            </div>
            <div class="icons">
                <i class="ri-linkedin-line"></i>
            </div>


          </div>

            <svg 
               id="background-waves"
               viewBox="0 -1.88 2 2" 
               preserveAspectRatio="none">
            <defs>
              <path id="w" 
                    d="
                       m 0 0.12 v -0.06 q 0.5 0.06 1 0 t 1 0 t 1 0 t 1 0 v 0.06 z" />
            </defs>
            <g>
              <use href="#w" y=".0" />
            </g>
          </svg>


    </div>
  
    


</body>
</html>