<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/grid.css">
</head>

<body>
    <div id="section" class="grid_section">
        <div data-index="1" class="multisection ml">
            <div class="opening">
                <img src="../images/imgs/gridimages/order.png" alt="">
            </div>
            <div class="tops">
                <div class="tops-top">
                    <h1>How to order food</h1>
                    <div id="heading-line"></div>
                </div>
                <div class="hiddeninfo">
                    Visit top picks section or search for your for your favorite restaurants.
                </div>
            </div>
        </div>
        <div data-index="2" class="multisection ml">
            <div class="opening">
                <img src="../images/imgs/gridimages/table.png" alt="">
            </div>
            <div class="tops">
                <div class="tops-top">
                    <h1>How to book a table</h1>
                    <div id="heading-line"></div>

                </div>
            </div>
            <div class="hiddeninfo">
                Visit top picks section or search for your for your favorite places.
            </div>
        </div>
        <div data-index="3" class="multisection ml">
            <div class="opening">
                <img src="../images/imgs/gridimages/landing page pic 1.png" alt="">
            </div>
            <div class="tops">
                <div class="tops-top">
                    <h1>How to book hotels</h1>
                    <div id="heading-line"></div>
                </div>
                <div class="hiddeninfo">
                    Visit top picks section or search for your for your favorite hotels.
                </div>
            </div>
        </div>
        <div id="videoslide" class="multisection">
            <div id="image"> 
                <img id="rotate" src="/images/imgs/gridimages/pngwing.com.png" alt="">
            </div>
            <div class="opener" id="opener1">
                <video autoplay muted loop
                    src="../images/video/food order [MConverter.eu].mp4"></video>
            </div>
            <div class="opener" id="opener2">
                <video autoplay muted loop
                    src="../images/video/table booking [MConverter.eu].mp4"></video>
            </div>
            <div class="opener" id="opener3">
                <video autoplay muted loop
                    src="../images/video/giphy [MConverter.eu].mp4"></video>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script>
        gsap.registerPlugin(ScrollTrigger);
        function gsapcode() {
            gsap.from(".multisection", {
                scrollTrigger: {
                    trigger: "#section",
                },
                width: "0%",
                duration: 1
            });
        }
        function imagechange() {
            let allSlides = document.querySelectorAll(".ml");
            skides = [...allSlides];

            var isHovered = null;

            skides.forEach(function (elem) {
                elem.addEventListener("mouseover", function (dets) {
                    isHovered = "#opener" + dets.target.dataset.index;
                    document.querySelector(isHovered).style.width = "100%";
                });

                elem.addEventListener("mouseleave", function (dets) {
                    isHovered = "#opener" + dets.target.dataset.index;
                    document.querySelector(isHovered).style.width = "0%";


                });
            });
        }

        gsapcode();
        imagechange();
    </script>
</body>

</html>