<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/landingpage.css">
</head>
<body>
    
    <div id="container">
        <div id="nav-one">
            <div id="inside-nav">
                <h1>logo</h1>
                <div id="menu">
                    <h3>Services</h3>
                    <h3>Top Picks</h3>
                    <h3>About</h3>
                    <h3>Contact Us</h3>
                </div>
                <h2>Search Bar</h2>
            </div>
        </div>
        <div id="page-one">
            <div id="page-one-ka-left">
                <div id="texts-div">
                    <div id="text-div-one">
                        <h1 class="for-food">Delicious food</h1>
                        <h1 class="for-delivery">A Moments of</h1>
                        <h1 class="for-resturant">Where every</h1>
                    </div>
                    <div id="text-div-two">
                        <h1 class="for-food">at low cost.</h1>
                        <h1 class="for-delivery">Delivered on</h1>
                        <h1 class="for-resturant"> tells a story.</h1>
                    </div>
                </div>
                <div id="location-bar">
                    <h3><i class="ri-map-pin-fill"></i> Bhopal</h3>
                </div>
                <div id="food-delivery-customer">
                    <div id="food">
                        <p>1320+</p>
                        <p>Food</p>
                    </div>
                    <div id="delivery">
                        <p>1200+</p>
                        <p>Delivery</p>
                    </div>
                    <div id="customer">
                        <p>2100+</p>
                        <p>Customer</p>
                    </div>
                </div>
            </div>
            <div id="page-one-ka-right">
                <div id="page-one-ke-right-ka-right">
                    <div id="image-div">
                        <img id="image-one" src="/elici.png" alt="">
                        <img id="image-two" src="/food-delivery-gbff98f572_1280-removebg-preview.png" alt="">
                        <img id="image-three" src="/Hotel Overview pg.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var tll = gsap.timeline()
        tll
        .from("#page-one-ke-right-ka-right #image-div",{
            ease: Expo.linear,
            left:"100%",
            duration: 2
        })
        .from("#page-one-ka-left #texts-div",{
            ease: Expo.linear,
            opacity: 0,
            left: "-100%",
            delay: "-2",
            duration: 2
        })
        var tl = gsap.timeline({
            repeat: -1,
            delay: 2
        });

        tl
        .to("#page-one-ke-right-ka-right #image-div",{
            ease: Expo.linear,
            rotate: "-120deg",
            duration: 2,
        })
        .to("#text-div-one .for-food",{
            ease: Expo.linear,
            top: "-100%",
            duration: 1,
            delay: '-2'
        })
        .to("#text-div-two .for-food",{
            ease: Expo.linear,
            top: "-100%",
            duration: 1,
            delay: '-2'
        })
        .to("#text-div-one .for-delivery",{
            ease: Expo.linear,
            top: "0%",
            duration: 1,
            delay: '-2'
        })
        .to("#text-div-two .for-delivery",{
            ease: Expo.linear,
            top: "0%",
            duration: 1,
            delay: '-2'
        })
        .to("#text-div-one .for-delivery",{
            ease: Expo.linear,
            top: "-100%",
            duration: 1,
            delay: '-1'
        })
        .to("#text-div-two .for-delivery",{
            ease: Expo.linear,
            top: "-100%",
            duration: 1,
            delay: '-1'
        })
        .to("#text-div-one .for-resturant",{
            ease: Expo.linear,
            top: "0%",
            duration: 1,
            delay: '-1'
        })
        .to("#text-div-two .for-resturant",{
            ease: Expo.linear,
            top: "0%",
            duration: 1,
            delay: '-1'
        })
        .to("#text-div-one .for-resturant",{
            ease: Expo.linear,
            top: "-100%",
            duration: 1,
            delay: 1
        })
        .to("#text-div-two .for-resturant",{
            ease: Expo.linear,
            top: "-100%",
            duration: 1,
            delay: 1
        })
        // .to("#text-div-one .for-food",{
        //     ease: Expo.linear,
        //     top: "0%",
        //     duration: 1,
        //     delay: '-1'
        // })
        // .to("#text-div-two .for-food",{
        //     ease: Expo.linear,
        //     top: "0%",
        //     duration: 1,
        //     delay: '-1'
        // })
        .to("#page-one-ke-right-ka-right #image-div",{
            ease: Expo.linear,
            rotate: "-240deg",
            duration: 2
        })
        .to("#page-one-ke-right-ka-right #image-div",{
            ease: Expo.linear,
            rotate: "-360deg",
            duration: 2
        })

    </script>
</body>
</html>