<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>popup_section</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/popup_section.css">
</head>

<body>
    <div id="main-container">
        <h1>Top picks.</h1>
        <div id="cards-row">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1517840901100-8179e982acb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="">

                <div id="place-description">
                    <div id="hotel-name">
                        <h3>babu rao cafe</h3>
                    </div>
                    <div id="star-rating">
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-half-s-fill checked"></i>
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>

                    <div id="line"></div>

                    <div id="desc">
                        <p>Acha khana sirf ₹150 rupiya main dega.</p>
                    </div>

                </div>

                <a class="booking-btn" href="/bookings"> <button> tap for booking <i class="ri-arrow-right-s-line"></i> </button> </a>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1504652517000-ae1068478c59?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="">

                <div id="place-description">
                    <h3>bharat halwai</h3>
                    <div id="star-rating">
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>

                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>

                    </div>

                    <div id="line"></div>

                    <div id="desc">
                        <p>Hello bharat halwai, koi bhi occassion ho <br> shadi ya sagai.</p>
                    </div>

                </div>
                <a class="booking-btn" href="/bookings"> <button> tap for booking <i class="ri-arrow-right-s-line"></i> </button> </a>

            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1519143468229-4cde34927323?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="">

                <div id="place-description">
                    <h3>kake da dhaba</h3>
                    <div id="star-rating">
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-half-s-fill checked"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>

                    <div id="line"></div>

                    <div id="desc">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, voluptatibus.</p>
                    </div>

                </div>
                <a class="booking-btn" href="/bookings"> <button> tap for booking <i class="ri-arrow-right-s-line"></i> </button> </a>

            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1578681041175-9717c16b0d66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2060&q=80"
                    alt="">

                <div id="place-description">
                    <h3>anupama's kitchen</h3>
                    <div id="star-rating">
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-half-s-fill checked"></i>
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>

                    <div id="line"></div>

                    <div id="desc">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, voluptatibus.</p>
                    </div>

                </div>

                <a class="booking-btn" href="/bookings"> <button> tap for booking <i class="ri-arrow-right-s-line"></i> </button> </a>
            </div>

        </div>

        <div id="cards-row1">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1539284811665-fd56f8b1b47c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="">

                <div id="place-description">
                    <h3>hari ram ka dhaba</h3>
                    <div id="star-rating">
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-half-s-fill checked"></i>
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>

                    <div id="line"></div>

                    <div id="desc">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, voluptatibus.</p>
                    </div>

                </div>
                <a class="booking-btn" href="/bookings"> <button> tap for booking <i class="ri-arrow-right-s-line"></i> </button> </a>

            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1505492537188-de71a52767cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="">

                <div id="place-description">
                    <h3>ramu ka dhaba</h3>
                    <div id="star-rating">
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>

                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>

                    </div>

                    <div id="line"></div>

                    <div id="desc">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, voluptatibus.</p>
                    </div>

                </div>
                <a class="booking-btn" href="/bookings"> <button> tap for booking <i class="ri-arrow-right-s-line"></i> </button> </a>

            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1540304452882-aa1a0e7ef2ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="">

                <div id="place-description">
                    <h3>pintukle hotel</h3>
                    <div id="star-rating">
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-half-s-fill checked"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>

                    <div id="line"></div>

                    <div id="desc">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, voluptatibus.</p>
                    </div>

                </div>
                <a class="booking-btn" href="/bookings"> <button> tap for booking <i class="ri-arrow-right-s-line"></i> </button> </a>

            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1652839140664-1c129f0c8bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="">

                <div id="place-description">
                    <h3>chintukle hotel</h3>
                    <div id="star-rating">
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-s-fill checked"></i>
                        <i class="ri-star-half-s-fill checked"></i>
                        <i class="ri-star-s-fill"></i>
                        <i class="ri-star-s-fill"></i>
                    </div>

                    <div id="line"></div>

                    <div id="desc">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, voluptatibus.</p>
                    </div>

                </div>
                <a class="booking-btn" href="/bookings"> <button> tap for booking <i class="ri-arrow-right-s-line"></i> </button> </a>

            </div>
        </div>
    </div>
</body>

</html>