<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/services.css">
</head>
<body>
    <div id="main">
        <div id="ourservices">
            <div id="border"></div>
            <h2 class="services-heading">OUR</h2>
            <h2 class="services-heading">SERVICES</h2>
            <div class="services-para">
                <p>From Table booking at your favourite restaurants to
                delivering food from</p>
                <p>your selected places to 
                    booking your dream stays at your preffered hotels.</p>
                <p>Everything at one place for the first time.</p>
            </div>
            <div id="tablebooking-service">
                <img src="../images/imgs/services-images/booking.png" alt="">
            </div>
            <div id="hotelbooking-service">
                <img src="../images/imgs/services-images/hotel.png" alt="">
            </div>
            <div id="fooddelivery-service">
                <img src="../images/imgs/services-images/delivery-man.png" alt="">

                
                <h3>Food delivery at your doorsteps</h3>
                <p>Order delicious food from your favourite restaurants and get them delivered to you.</p>
            </div>
            
            <h2 id="table-booking">advanced table booking</h2>
            <p id="tablebooking-para">Book tables in advance at <br>your favourite restaurants
                </p>

                
                <h2 id="room-booking">book your dream stay</h2>
            <p id="roombooking-para">Book your preffered hotel from a<br> wide variety of hotels at one place.
                </p>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js" integrity="sha512-A64Nik4Ql7/W/PJk2RNOmVyC/Chobn5TY08CiKEX50Sdw+33WTOpPJ/63bfWPl0hxiRv1trPs5prKO8CpA7VNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
            gsap.from(".services-heading",{
                scrollTrigger:{
                trigger:"#ourservices",
            },
            left: "0%",
            opacity: 0,
            duration: 1
            });
            gsap.from(".services-para",{
                scrollTrigger:{
                trigger:"#ourservices",
            },
            top: "0vh",
            opacity: 0,
            duration: 1
            });
            gsap.from("#table-booking",{
                scrollTrigger:{
                trigger:"#tablebooking-service",
            },
            top:"60%",
            opacity: 0,
            duration: 1
            });
            gsap.from("#tablebooking-para",{
                scrollTrigger:{
                trigger:"#tablebooking-service",
            },
            top:"65%",
            opacity: 0,
            duration: 1
            });
            gsap.from("#room-booking",{
                scrollTrigger:{
                trigger:"#tablebooking-para",
            },
            top:"100%",
            opacity: 0,
            duration: 1
            });
            gsap.from("#roombooking-para",{
                scrollTrigger:{
                trigger:"#tablebooking-para",
            },
            top:"100%",
            opacity: 0,
            duration: 1
            });
            gsap.to("#tablebooking-service",{
                scrollTrigger:{
                trigger:".services-para",
            },
            height:"35vh",
            duration: 1
            });
            gsap.from("#tablebooking-service img",{
                scrollTrigger:{
                trigger:".services-para",
            },
            top: "7vw",
            duration: 1
            });
            gsap.to("#hotelbooking-service",{
                scrollTrigger:{
                trigger:".services-para",
            },
            height:"30vh",
            duration: 1
            });
            gsap.from("#hotelbooking-service img",{
                scrollTrigger:{
                trigger:".services-para",
            },
            top: "7vw",
            duration: 1
            });
            gsap.to("#fooddelivery-service",{
                scrollTrigger:{
                trigger:".services-para",
            },
            height:"58vh",
            duration: 1.2
            });
            gsap.from("#fooddelivery-service img",{
                scrollTrigger:{
                trigger:".services-para",
            },
            top: "48vw",
            duration: 1.5
            });
    </script>
</body>
</html>