<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/services.css">
</head>
<body>
    <div id="main">
        <div id="ourservices">
            <div id="border"></div>
            <h2 id="services-heading">OUR <br>SERVICES</h2>
            <p id="services-para">Lorem ipsum dolor sit amet consectetur lorem adipisicing elit.
                Necessitatibus Aliquam <br> nostrum nam adipisicing elit.
                 Necessitatibus tenetur praesentium adipisicing elit.
                 
                  </p>
            <div id="tablebooking-service">
                <img src="./booking.png" alt="">
            </div>
            <div id="hotelbooking-service">
                <img src="./hotel.png" alt="">
            </div>
            <div id="fooddelivery-service">
                <img src="./delivery-man.png" alt="">
                <h3>Food delivery at your doorsteps</h3>
                <p>Lorem ipsum dolor sit amet<br> consectetur adipisicing elit.</p>
            </div>
            <h2 id="table-booking">advanced table booking</h2>
            <p id="tablebooking-para">Lorem ipsum dolor, sit amet <br>consectetur adipisicing elit.
                </p>

                <h2 id="room-booking">book your dream stay</h2>
            <p id="roombooking-para">Lorem ipsum dolor, sit amet <br>consectetur adipisicing elit.
                </p>

        </div>
    </div>
</body>
</html>