*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#section{
    
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
}
#section .multisection{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 40%;
}
.multisection .opening{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    position: absolute;
    border-radius: 50%;
    height: 150%;
    width: 300%;
    transform: scale(1);
  background-color: rgba(248, 204, 166, 0.495);
    
}
.multisection .opening img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* background-size: contain;
    background-repeat: no-repeat; */
    
    /* background-size: cover; */
}
.multisection:hover .opening{
    transform: scale(.19);
}
.opener{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 0%;
}
.opener video{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-size: cover;
background-position: center;
width: 100%;
height: 100%;
object-fit: cover;
}