@font-face {
    font-family: gilroy;
    src: url("../assets/font/Gilroy-Regular.ttf");
}
@font-face {
    font-family: gilroyebold;
    src: url("../assets/font/Gilroy-ExtraBold.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

h2::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(8, 15, 71);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#main{
    width: 100%;
    min-height: 110vh;
    background-color:#F9C99F;
}

#ourservices{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(248, 204, 166, 0.495);

    /* background-color: rgba(249, 235, 222, 0.861); */
}
#border{
    width: 17px;
    height: 80px;
    background-color: rgb(231, 13, 49);
    position: absolute;
    top: 13vh;
    left: 8vw;
}
.services-heading{
    font-family: monument;
    letter-spacing: 2px;
    position: absolute;
    top: 15vh;
    left: 10vw;
    color: rgb(8, 15, 71);
}
.services-heading:nth-child(3){
    top: 20%;
}
.services-para{
    position: absolute;
    top: 15vh;
    right: 10vw;
}
.services-para p{
    font-weight: 800;
    font-family: "gilroy";
    color: rgb(8, 15, 71);

}
#tablebooking-service{
    overflow: hidden;
    width: 15vw;
    height: 0vh;
    background-color: rgba(248, 182, 125, 0.785);
    position: absolute;
    top: 40vh;
    left: 10vw;
}
#tablebooking-service img{
    width: 12vw;
    position: absolute;
    left: 3vw;
    top: 2vw;
}

#hotelbooking-service{
    overflow: hidden;
    width: 18vw;
    height: 0vh;
    position: absolute;
    top: 68vh;
    left: 35vw;
    background-color: rgba(248, 182, 125, 0.785);
}
#hotelbooking-service img{
    width: 12vw;
    position: absolute;
    top: 1vw;
    left: 3vw;
}
#fooddelivery-service{
    overflow: hidden;
    width: 30vw;
    height: 0vh;
    position: absolute;
    right: 10vw;
    top: 40vh;
    background-color: rgba(248, 182, 125, 0.785);
}
#fooddelivery-service h3{
    font-family: "gilroyebold";
    color: rgb(8, 15, 71);
    position: absolute;
    font-weight: 800;
    top: 38vh;
    left: 5vw;
}
#fooddelivery-service p{
    position: absolute;
    top: 45vh;
    left: 3.5vw;
    font-family: "gilroy";
    font-weight: 800;

}
#fooddelivery-service img{
    width: 15vw;
    position: absolute;
    left: 7vw;
    top: 1vw;
}
#table-booking{
    font-family: "gilroyebold";
    color: rgb(8, 15, 71);
    position: absolute;
    top: 45vh;
    left: 30vw;
    text-transform: capitalize;
}
#tablebooking-para{
    font-family: "gilroy";
    position: absolute;
    top: 52vh;
    left: 30vw;
    font-weight: 800;

}
#room-booking{
    font-family: "gilroyebold";
    color: rgb(8, 15, 71);
    position: absolute;
    top: 80vh;
    left: 12vw;
    text-transform: capitalize;
}
#roombooking-para{
    font-family: "gilroy";
    position: absolute;
    top: 86vh;
    left: 12vw;
    font-weight: 800;

}

